/* ==========================================
   MEN'S WEAR HERO SECTION
========================================== */

.mens-wear-hero-main {
  padding: 40px 70px 20px;
  background: #f8f8f8;
}

/* ==========================================
   HERO BANNER
========================================== */

.mens-wear-hero-banner {
  position: relative;
  height: 420px;
  overflow: hidden;
  border-radius: 28px;
}

.mens-wear-hero-banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Overlay */

.mens-wear-hero-banner-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.504) 0%,
    rgba(0, 0, 0, 0.295) 35%,
    rgba(0, 0, 0, 0.134) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* ==========================================
   HERO CONTENT
========================================== */

.mens-wear-hero-banner-content {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 5;
}

.mens-wear-hero-title {
  font-size: 78px;
  font-weight: 700;
  color: #ffffff;
  margin-top: -92px;
  font-family: "Muthiara";
}

.mens-wear-hero-breadcrumb {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 12px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
    margin-top: 90px;
  letter-spacing: 1.2px;
}

.mens-wear-hero-breadcrumb span {
  text-transform: uppercase;

}

/* ==========================================
   RESPONSIVE
========================================== */

@media (max-width: 768px) {
  .mens-wear-hero-main {
    padding: 30px 20px 15px;
  }

  .mens-wear-hero-banner {
    height: 280px;
    border-radius: 22px;
  }

  .mens-wear-hero-title {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  .mens-wear-hero-banner {
    height: 220px;
  }

  .mens-wear-hero-title {
    font-size: 28px;
  }

  .mens-wear-hero-breadcrumb {
    font-size: 10px;
  }
}